@import url('https://fonts.googleapis.com/css?family=Raleway:400,500');
* {
  vertical-align: baseline;
}
body{
    background: #2e2c2c;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: sans-serif;
    font-weight: 400;
    height: 100vh;

}
.box{
    max-width: 40em;
    color: white;
    padding: 2em; 
    border: solid;
    border-radius: .5em;
    overflow: hidden;

}
.inner-box{
    display:flex;
    justify-content: space-between;
    align-items: center; 

}
img {
    width: 4em;
    height: 4em;
    padding: 1em;
    border-radius:50%;
    box-shadow: 4px 4px 4px black;

}
form{
    background: rgb(170, 169, 170);
    margin: 1em 0 0 0;
    padding: 1em;
    color: black;
    border-radius: .5em;
    
}
input{
    background: none;
    margin: 1em 0 0 0;
    padding: 1em;
    outline:none;
    border:none;
    border: .1em solid ;
    
}
p{
    word-break: break-all;
    padding: 1em;
    border-bottom: .1em solid ;
    font-weight:bold;
     
}
button{
    background: #2e2c2c; 
    width: 10em;
    margin:1em 0 0 0;
    padding:1.2em;
    outline:none;
    border:none;
    border-radius: .5em;
    font-size: 1em;
    font-weight:bold;  
    color: white; 
}
.by{
    text-align: center;
    font-size: .8em;
    font-weight: bold;
    padding: 1em;
}

/* form error styles */
        
#error {
    
    color: rgb(190, 20, 20);

}
.error-border {
    border: .1em solid rgb(190, 20, 20);
}

/* media query */
@media screen and (max-width: 768px) {

    .inner-box{
        flex-direction: column;
        align-items: center;
    
    }
}